body {
	font-size: 12px;
	font-family: "ו";
	scrollbar-base-color: #dbecf8;
	scrollbar-arrow-color: #2a8ed1;
	scrollbar-track-color: #bdddf2;
	scrollbar-3dlight-color: #2886c5;
	scrollbar-darkshadow-color: #2886c5;
	scrollbar-face-color: #dbecf8;
	scrollbar-shadow-color: #dbecf8;
	padding: 1px;
	margin: 1px;
}

A:link {
	COLOR: #004779; TEXT-DECORATION: none;
	border:0px;
}
A:visited {
	COLOR: #004779; TEXT-DECORATION: none;
	border:0px;
}
A:active {
	COLOR: #004779; TEXT-DECORATION: none;
	border:0px;
}
A:hover {
	COLOR: #0000ff; TEXT-DECORATION: none;
	border:0px;
}

img.Icon {
	margin-bottom: 2px;
	width:18px;
	height:18px;
}


ul.MenuLevel2 {
	list-style:none;
	margin: 0px;
	padding: 0px;
	background:#fff;
}

#Menu {
	padding: 0px;
	float: left;
	width: 400px;
	margin: 0px;
}

.level2 {
	font-weight: normal;
	color: #005790;
	line-height:15px;
	font-size:12px;
	padding:3px;
}


.level2Style {
	width: 100%;
	height: 20px;
	background: #fff;
	padding-left: 30px;
	padding-top: 5px;
	border-top: 0px solid #eff6fb;
	cursor: hand;

}
.MenuFontColor{
	color:#fff;	
	font-weight:bold;
	font-size:16px;
}

.myPanel{
	margin:0px;
	background:#4d4d4d;
}
.myPanelChange{
	margin:0px;
	background:#0c9494;
}
